body {
    font-family: arial;
    background: linear-gradient(to right, #155799, #159957);
    color: whitesmoke;
}

form {width: 30rem;
      margin: auto;
      backdrop-filter: blur(5px) saturate(180%);
      background-color: rgb(11, 15, 13, 0.5);
      border-radius: 5px;
      padding: 40px;}

h3, h5 {
    text-align: center;
}

input[type="text"], input[type="password"] {width: 100%;
       padding: 15px 18px;
       box-sizing: border-box;
       border-radius: 5px;
       margin: 10px  0;}

input:focus {
    border: none;
}
.ola {display: flex;
      padding: 15px 0;
      }

.o {width: 73%;}

button {width: 100%;
        color: white;
        background-color: black;
        padding: 12px 20px;
        margin: 8px 0;
        border-radius: 5px;
        font-size: 18px;}

button:hover {opacity: 0.9;
              cursor: pointer;}

.p {display: flex;
    margin: 0 auto;
    width: 50%;
    padding: 18px 0;}

p {margin: 0px;
   padding-right: 5px;}

a {text-decoration: none;}

@media screen and (max-width:500px){
    input[type="text"], input[type="password"]{
        width: 80%;
    }
}

@media screen and (max-width:500px){
    form{
        width: 25rem;
    }
}

@media screen and (max-width:500px){
   button{
        width: 80%;
    }
}

@media screen and (max-width:500px){
    .o{
        width: 48%;
    }
}

@media screen and (max-width:500px){
    .p{
        width: 68%;
    }
}